$sidebar-bg: rgba(54, 55, 64, 1);
$accent-default: rgba(55, 81, 255, 1);
$grayscale-black: rgba(37, 39, 51, 1);
$grayscale-gray: rgba(159, 162, 180, 1);
$grayscale-gray-light: rgba(197, 199, 205, 1);
$grayscale-white: rgba(255, 255, 255, 1);
$sidebar-gray: rgba(164, 166, 179, 1);
$accent-light: rgba(221, 226, 255, 1);
$grayscale-divider: rgba(223, 224, 235, 1);
$grayscale-gray-lightest: rgba(240, 241, 247, 1);
$green-default: rgba(41, 204, 151, 1);
$yellow-default: rgba(254, 196, 0, 1);
$grayscale-bg: rgba(247, 248, 252, 1);

// Layout
$sidebar-width: 255px;
$border-radius: 8px;

// Typography
$font-family: "Mulish", Helvetica, Arial, sans-serif;

// Transitions
$transition-speed: 0.3s;
